<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TikTokSIMSpoof"
        tools:targetApi="36">

        <!-- Xposed 模块标识 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <!-- 模块描述 -->
        <meta-data
            android:name="xposeddescription"
            android:value="伪装TikTok对SIM卡检测 - 支持隐藏SIM卡或伪装为其他地区" />

        <!-- 最低Xposed版本 -->
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <!-- LSPosed 作用域 -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- 设置界面 -->
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TikTokSIMSpoof">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
